layout {
	pane {
		pane name="shell" command="bash" {
			args "-c" "${SHELL-bash}"
		}
		pane split_direction="vertical" {
			pane {
				pane name="watch & deploy" command="bash" {
					args "-c" "sleep 1; pnpm watch_deploy"
				}
				pane name="watch & compile" command="pnpm" {
					args "watch_compile"
				}
			}
			pane name="local node" command="pnpm"  {
				args "local_node"
			}
		}
	}
}
