layout {
	pane {
		pane command="bash" {}
		pane split_direction="vertical" {
			pane {
				pane command="bash" {
					args "-c" "sleep 1; ./run watch_deploy"
				}
				//pane command="bash" {
				//	args "-c" "sleep 1; ./run watch_compile"
				//}
			}
			pane command="./run"  {
				args "local_node"
			}
		}
	}
}
