layout {
	pane {
		pane command="bash" {}
		pane split_direction="vertical" {
			pane {
				pane command="bash" {
					args "-c" "sleep 1; pnpm watch_deploy"
				}
				pane command="pnpm" {
					args "watch_compile"
				}
			}
			pane command="pnpm"  {
				args "local_node"
			}
		}
	}
}
